<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/daniel-olahh.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
        <div class="card card-register" style="background: none">
          <h3 class="title"><b>Sign-In</b></h3>

          <form class="register-form">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="Email">

            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password">
            <button class="btn btn-danger btn-block btn-round">Login</button>
          </form>
          <div class="forgot">
            <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
            <div class="row">
              <button class="btn btn-warning btn-block btn-round" routerLink="/signup"><i class="fa fa-user-plus"></i>Register</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>