<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                <div class="card card-register" style="background: none">
                    <h3 class="title"><b>Sign-Up</b></h3>

                    <form class="register-form">
                        <label>Company Name</label>
                        <input type="text" class="form-control" placeholder="Company Name">

                        <label>Location</label>
                        <input type="text" class="form-control" placeholder="Location">

                        <label for="file">Company Logo</label>
                        <input class="btn btn-primary btn-block" type="file" id="file">

                        <label>Website URL</label>
                        <input type="text" class="form-control" placeholder="Website URL">
                        <button class="btn btn-danger btn-block btn-round">Sign Up!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

