<head>
    <!--core first + styles last-->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>


<div class="section section-dark">
        <div class="container">
                
        <div class="container text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Search for a Start-Up</h2>
                    <div class="row">
                            <div class="col-md-11">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-success" id="inputSuccess1" placeholder="Type a startup name or category">
                                       
                                    </div>
                    </div>
                    <div class="col-md-1">
                            <a href="" class="btn btn-outline-danger btn-round" target="_blank">Search</a>
                    </div>
                </div>
                </div>
            </div>


            
        </div>
    </div>
    </div>
    <br />
    <div class="row">
        <article class="search-result row">
            <div class="col-xs-12 col-sm-12 col-md-3">
                <a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" /></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
                <ul class="meta-search">
                    <li><i class="far fa-calendar-alt"></i> <span>02/15/2014</span></li>
                    
                    <li><i class="fas fa-tags"></i> <span>People</span></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 excerpet">
                <h3><a href="#" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>						
                <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
            </div>
            <span class="clearfix borda"></span>
        </article>
    </div>
    <br />

    <div class="row">
        <article class="search-result row">
            <div class="col-xs-12 col-sm-12 col-md-3">
                <a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" /></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
                <ul class="meta-search">
                    <li><i class="far fa-calendar-alt"></i> <span>02/15/2014</span></li>
                    
                    <li><i class="fas fa-tags"></i> <span>People</span></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 excerpet">
                <h3><a href="#" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>						
                <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
            </div>
            <span class="clearfix borda"></span>
        </article>
    </div>
