<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/cityNight.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">                   
                        <img src="assets/img/logo.png" width="600" height="100" alt="">
                </div>
            </div>
            <br />
            <br />
            <div class="container">
                    <div class="row">
                            <div class="col-md-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-success" id="inputSuccess1" placeholder="Type a startup name or category">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                        <a href="" class="btn btn-outline-danger btn-round" target="_blank">Search</a>
                                </div>
                                
                    </div>
            </div>
        </div>
    </div>
    <div class="main">
        
        <div class="section section-dark section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title">Mentors' Labs</h2><br/>
                        <p class="description">
                                The “Mentors' Lab” allows start-ups to showcase their businesses and mentors to propose their help to these start-ups!

                                Mentor a start-up! (search bar with criterias)
                                Showcase my start-up (redirect to the subscription plans)
                                
                                
                                Your start-up can be based anywhere in the world, our experts are located everywhere in the world!
                                
                                Mentors agrees to give time “PRO-bono” (for free) to start-ups in need for help in specific areas: Marketing, Communication, Sales, Finance, Admin, Supply Chain, Purchasing, Fundraising, Digital, Strategy
                                For mutual BENEfits, our experts can showcase their experience for start-ups, developing our consolidating their expertise. 
                                
                        </p><br/>                      
                        <a href="" class="btn btn-outline-danger btn-round" target="_blank">Read more about us</a>
                    </div>

             
                </div>
            </div>
        </div>
        <div class="section section-dark">
        <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-8">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <span class="price-value">0<span class="currency">$</span></span>
                                <h3 class="title">Free</h3>
                            </div>
                            <ul class="pricing-content">
                                <li>Introduction of your startup</li>
                                <li>Profile allocation for 2 team mates</li>
                                <li>Request for 2 skills</li>
                                <li>Rate mentors and be rated by mentors</li>
                                <li>-</li>
                                <li>-</li>
                                <li>-</li>
                                <li>-</li>
                            </ul>
                            <a href="#" class="pricingTable-signup">Sign Up</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-8">
                            <div class="pricingTable green">
                                <div class="pricingTable-header">
                                    <span class="price-value">10<span class="currency">$</span></span>
                                    <h3 class="title">Early stage</h3>
                                </div>
                                <ul class="pricing-content">
                                <li>Introduction of your startup</li>
                                <li>Profile allocation for 4 team mates</li>
                                <li>Request for 4 skills</li>
                                <li>Upload 2 medias (videos or photos)</li>
                                <li>Rate mentors and be rated by mentors</li>
                                <li>-</li>
                                <li>-</li>
                                <li>-</li>
                                </ul>
                                <a href="#" class="pricingTable-signup">Sign Up</a>
                            </div>
                    </div>
                    <div class="col-md-4 col-sm-8">
                        <div class="pricingTable red">
                            <div class="pricingTable-header">
                                <span class="price-value">50<span class="currency">$</span></span>
                                <h3 class="title">Growing</h3>
                            </div>
                            <ul class="pricing-content">
                                    <li>Introduction of your startup</li>
                                    <li>Profile allocation for 6 team mates</li>
                                    <li>Request for 6 skills</li>
                                    <li>Upload 4 medias (videos or photos)</li>
                                    <li>Startup statistics (visits, followers, clicked links)</li>
                                    <li>Don't wait for mentors to contact you! Contact them directly!</li>
                            </ul>
                            <a href="#" class="pricingTable-signup">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section section-dark">
            <div class="container">
                <div class="row example-page">
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="../../assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
                        </a>
                    </div>

                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/user-profile']">
                            <img src="../../assets/img/examples/profile-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/user-profile']" class="btn btn-outline-neutral btn-round">Profile Page</a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Do you like what you see?</h2>
                        <p class="description">Cause if you do, it can be yours for Free. Hit the button below and download it. Start a new project or give an old Bootstrap 4 project a new look.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 download-area ml-auto mr-auto">
                        <a href="https://www.creative-tim.com/product/paper-kit-2" class="btn btn-warning btn-round">Download free HTML</a>
                        <a href="https://www.creative-tim.com/product/paper-kit-2-angular" class="btn btn-danger btn-round">Download free Angular</a>
                    </div>
                </div>
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Thank you for supporting us!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="#pablo" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a href="#pablo" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-google-plus"></i> Google
                        </a>
                        <a href="#pablo" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                        <a href="https://github.com/creativetimofficial/paper-kit" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Star on Github">
                            <i class="fa fa-github"></i> Star
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

