
<script type="text/javascript">
    $scope.example13model = []; $scope.example13data = [ {id: 1, label: "David"}, {id: 2, label: "Jhon"}, {id: 3, label: "Lisa"}, {id: 4, label: "Nicole"}, {id: 5, label: "Danny"} ]; $scope.example13settings = { smartButtonMaxItems: 3, smartButtonTextConverter: function(itemText, originalItem) { if (itemText === 'Jhon') { return 'Jhonny!'; } return itemText; } };
</script>

<div class="section img-responsive" data-parallax="true" fxLayout="row" fxLayoutAlign="center" style="background-image: url('../assets/img/713197.jpg');">
  <br />

  <div class="card card-profile" style="margin-top: 150px">
    <br />
    <div class="panel-heading">
      <h3>User Details:</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="../assets/img/pp.png" class="img-circle img-responsive"> </div>

        <div class=" col-md-9 col-lg-9 ">
          <table class="table table-user-information">
            <tbody>
            <tr>
              <td><h5>First Name:</h5></td>
              <td><input type="text" class="form-control" placeholder="Default"></td>
            </tr>
            <tr>
              <td><h5>Last Name:</h5></td>
              <td><input type="text" class="form-control" placeholder="Default"></td>
            </tr>
            <tr>
              <td><h5>Title:</h5></td>
              <td><input type="text" class="form-control" placeholder="Default"></td>>
            </tr>


            <tr>
              <td><h5>Current Employer:</h5></td>
              <td><input type="text" class="form-control" placeholder="Default"></td>
            </tr>
            <tr>
              <td>Expertise:</td>
              <td><div ng-dropdown-multiselect="" options="example1data" selected-model="example1model"></div></td>
            </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>
    <div class="panel-footer">

      <a href="#" class="btn btn-primary">Update user details</a>
    </div>

  </div>
</div>
